	*{padding: 0; margin: 0;}
	td {
		padding:5px;
		font-size: 12px;
	}
	th {
		padding:5px;
		font-size: 12px;
	}
	p {
		margin-bottom:20px;
		line-height:15px;
	}
	td p {
		padding:0px;
		margin:0px;
	}
	#headtable {
		border:1px solid #999999;
		padding:5px;
		margin:2px;
		text-align:center;
	}
	a:link {
		text-decoration: none;
		color: #3d69c4;
	}
	a:hover {
		text-decoration: underline;
	}
	a:visited {
		text-decoration: none;
		color: #3d69c4;
	}
	a:active {
		text-decoration: none;
		color: #3d69c4;
	}
	/* General Style */
	#Header {
		text-align:left;
		padding-top:8px;
		padding-left:50px;
	}
	#Header h1 {
		margin:0px;
		margin-bottom:17px;
		margin-top:40px;
		font-size: 16px;
		text-transform: uppercase;
		color:#FFFFFF;
	}
	#Footer {
		text-align:left;
		padding-top:8px;
		padding-bottom:15px;
		text-align:center;
		color:#DDD;
	}
	#general {
		background-color:#FFF;
		padding:25px;
		border-top:1px solid #11171b;
	}
	#general h2 {
		font-size: 16px;
		margin:15 0 5 20;
	}
	#general h3 {
		font-size: 14px;
		padding:15 0 5 0;
	}
	/* Form Style */
	input,textarea {
		font-size: 12px;
		padding:2px;
		font-family: Arial,Helvetica,sans-serif;
		border:1px solid #BBB;
	}
	select {
		font-size: 12px;
		padding:2px;
		min-width:150px;
		border:1px solid #BBB;
	}
	#label {
		padding:10px;
		background-color:#EEE;
	}
	#field {
		padding:10px;
		background-color:#FFF;
	}
	#formhead {
		text-align:center;
		font-weight:bold;
		background-color:#DDD;
		padding:10px;
	}
	#formback {
		text-align:left;
		margin-left:20px;
	}
	/* menu styles */
	#jsddm {	
		margin: 0px;
		padding: 0px 0px 24px 0px;
	}
	#jsddm li {	
		float: left;
		margin-left:5px;
		list-style: none;
		font-family: Arial,Helvetica,sans-serif;
	}
	#jsddm li a {	
		display: block;
		background: url("../content/images/tintblue.gif") repeat-x;
		padding: 5px 12px;
		text-decoration: none;
		border: 1px solid #fff;
		border-bottom: 0px;
		color: #3f5205;
		white-space: nowrap;
	}
	#jsddm li a:hover {
		background: url("../content/images/tintbluedark.gif") repeat-x;
	}
	#jsddm li ul {	
		margin: 0;
		padding: 0;
		position: absolute;
		visibility: hidden;
		border-top: 1px solid white;
		border-bottom: 1px solid #fff;
	}
	#jsddm li ul li {	
		float: none;
		display: inline
	}
	#jsddm li ul li a {	
		width: auto;
		background: #bcd769;
		color: #24313C;
	}
	#jsddm li ul li a:hover {
		background: #a2c33e;
	}
	/* comment list */
	#commentbox {
		border:1px solid #000000; 
		padding:8px; 
		max-width:400px; 
		margin:0px 0px 20px 0px;
	}
	#commentbox #date {
		font-size:10px;
		margin-bottom:4px;
	}
	#commentbox h4 {
		font-size:14px;
		text-transform: capitalize;
	}
	/* Search */
	#formsearch div {
		padding:0px;
		margin:0px;
	}
	#formsearch #label {
		padding:5px;
		margin-right:20px;
		background-color:#FFF;
		float:left;
		width:200px;
	}
	#formsearch #field {
		padding:5px;
		background-color:#FFF;
		text-align:left;
	}
	/* Excel */
	#headtable #hlabel {
		text-align:right; 
		float:left; 
		margin-right:10px; 
		width:30%;
	}
	#headtable #hvalue {
		text-align:left; 
		width:70%;
	}
